*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  .v-header{
    display:flex;
    align-items:center;
    color:#fff;
  }

  .container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#595959;
    opacity:0.5;
  }
  
  .header-content{
    z-index: 3;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center
  }

  .head-content{
    z-index: 4;
    text-align: center;
  }
  
  .head-content h1{
    z-index:4;
    font-size:50px;
    margin-bottom:0;
    color:  #F2D0AB; 
  }
  
  .head-content p{
    z-index:4;
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
    color: #F2D0AB;
    position: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .btn{
    z-index:3;
    background: #532380;
    color: #FFAF30;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 12px;
  }
  
  .section{
    padding:20px 0;
  }
  .section-a{
    background: #F6EFE7;
    
  }
  
  .section-b{
    background:#333;
    color:#fff;
  }
  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0px 60px;
    box-sizing: border-box;
    background: #532380;
    z-index: 3;
    opacity: 0.8;
}


nav .logo{
    padding: 9px 20px;
    height:  1=80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFAF30;
    

}

nav ul{
    list-style:  none;
    float: right;

    margin: auto;
    padding: 0;
    display: flex
   
  
}

nav ul li a{
    line-height: 80px;
    color: #FFAF30;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    
    
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;

}

nav ul li a.active{
    
  color: #FFAF30;
    border-radius: 6px;
}

.scroll-arrow {
position: absolute;
top: 90%;
left: 90%;
transform: translate(-50%, -50%);
z-index: 10;
}

.scroll-arrow span{
display: block;
width: 20px;
height: 20px;
border-bottom: 1px solid #ffffff;
border-right: 1px solid #ffffff;
transform: rotate(45deg);
margin: -10px;
}
.footer .main:after,.label:after{
    content:"";
    display:block;
    clear:both}
    .input{display:none}
    .input:checked~.list{
      display:block}
      .input:checked+.label .svg{
        -webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.list{margin:0 0 0 24px;display:none;font-size:14px;margin-bottom:16px;list-style:none}@media (min-width:504px){.list{display:block!important;margin:0}}.list>li{margin-left:24px;line-height:1.25;color:#333;padding:0}.list>li+li{margin-top:8px}.label{color:#fff;font-weight:400;padding:0 0 16px;cursor:pointer;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;min-height:42px}.label svg{float:right;fill:#fff;width:16px;height:16px}@media (min-width:504px){.label svg{display:none}}.label>*{cursor:pointer}._34Lkm{display:inline-block;width:100%}._270kB{text-align:center;width:50%}@media (min-width:504px){._270kB{display:none}}.footer{background-color:#532380}.footer .main{padding:32px 16px 0;max-width:1170px;margin:0 auto}@media (min-width:1194px){.footer .main{padding:32px 0 0}}@media (min-width:1024px){@supports (display:flex){.footer .main{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}}}.footer .submain{border-bottom:1px solid hsla(0,0%,100%,.7)}@media (min-width:504px){.footer .submain{width:30%;float:left;border:0}}@media (min-width:768px){.footer .submain{width:20%}}@media (min-width:1024px){.footer .submain{width:20%}@supports (display:flex){.footer .submain{float:none}}}.footer .submain li{margin-left:0;padding:0}.footer .submain li+li{margin-top:8px}.footer .submain a{color:hsla(0,0%,100%,.7);font-weight:400}.footer .submain a:hover{color:#fff}.footer .submain+.submain{margin-top:16px}@media (min-width:504px){.footer .submain+.submain{margin:0}}



        #products {
          width: 100%;
        }
      
        #products .container-products {
          display: block;
          width: 80%;
          margin: 0 auto;
          font-size: 0;
        }
        
        #products .container-products .products-header {
          font-size: 16px;
          text-align: center;
          margin-bottom: -5rem;
        }
        
        #products .container-products .products-header h2 {
          padding: 2rem 1rem;
          text-transform: uppercase;
          font-family: "Franklin Gothic Medium";
          color: #000000;
          font-size: 1.875rem;
          font-weight: 400;
          letter-spacing: 0.2rem;
          line-height: 1;
          text-align: center;
        }
        
        #products .container-products .product {
          width: 50%;
          display: inline-block;
          font-size: 16px;
          text-align: center;
          padding: 1rem;
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
        
        #products .container-products .product:hover {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
          opacity: 0.8;
          -webkit-transition: opacity 800ms ease-in-out 0s;
          transition: opacity 800ms ease-in-out 0s;
          -webkit-transition: -webkit-transform 1s ease-in-out 0s;
          transition: -webkit-transform 1s ease-in-out 0s;
          transition: transform 1s ease-in-out 0s;
          transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
          cursor: pointer;
        }
        
        #products .container-products .product figure img {
          width: 100%;
          height: auto;
        }
        
        #products .container-products .product figure figcaption {
          font-family: "Franklin Gothic Medium";
          color: rgba(89, 89, 89, 1);
          font-size: 0.8rem;
          font-weight: 600;
          letter-spacing: 0.02rem;
          text-align: center;
          padding: 1rem 0rem 0rem;
          text-transform: uppercase;
        }
        
        @media only screen and (max-width: 1024px) {
          #products .container-products .product {
            width: 50%;
            padding: 3rem;
          }
        }
        
        @media only screen and (max-width: 768px) {
          #products .container-products .product {
            width: 50%;
            padding: 2rem;
          }
        }
    

        @media only screen and (max-width: 480px) {
          #products .container-products .product {
            width: 100%;
          }
        }

        #products .container-products p.button {
          background-color: #e6b58f;
          -webkit-box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
          box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
          width: 45%;
          text-align: center;
          padding: 0.8rem 0.2rem;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 0.7rem;
          width: 60%;
          padding: 0.8rem 2rem;
          margin-bottom: 2%;
          margin-left: 22%;
          
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
        
        #products .container-products p.button:hover {
          cursor: pointer;
          background-color: #ffffff;
          color: #ff981f;
          -webkit-transition: background-color 1s ease-in-out 0s;
          -o-transition: background-color 1s ease-in-out 0s;
          transition: background-color 1s ease-in-out 0s;
          -webkit-transition: color 400ms ease-in-out 0s;
          -o-transition: color 400ms ease-in-out 0s;
          transition: color 400ms ease-in-out 0s;
        }

        /*purchase order styles*/
.purchase-car{
  height: 700px;
  margin-top: 60px;
}

.purchase-car h2{
text-align:left;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #cfcccc85;
  padding: 3px 18px 13px 18px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/*reports ad styles*/




        
        .ss-form-container {
          border-color: #FFAF30;
          background-color: white;
          margin-top: 100px;
          background-color: white;
          width: 55%;
          margin-left: 5%;
          border: 2px, #FFAF30;
          

        }
        .ss-form-container{
          background: #F2F2F2;
        }

        .ss-form-heading h1{
          color: #FFAF30;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

      
        .ss-form-title {
          text-align: left;
          background-color:#532380;
          color: #FFAF30;
        }
        
        .ss-form-desc {
          text-align: left;
        }
        
        .ss-form-desc {
          font-family: "Roboto";
          color: rgb(140,140,140);
          font-weight: 400;
          font-size: 1.080rem;
          font-style: normal;
          margin-left: 10px;
        }
      
        
        .ss-q-title {
          font-family: "Roboto";
          color: rgb(80,80,80);
          font-weight: 700;
          font-size: 1.080rem;
          font-style: normal;
        
          margin-left: 10px;
          margin-top: 5px;
          
        }
        
        .ss-embeddable-object-container .ss-q-title {
          font-family: "Roboto";
          color: rgb(80,80,80);
          font-weight: 700;
          font-size: 1.845rem;
          font-style: normal;
        }
            
      input[type='text'], input:not([type]){
          font-size: 1.000rem;
          width: 80%;
          height: 30px;
          margin-left: 10px;
        }
        textarea {
          font-size: 1.000rem;
          width: 80%;
          height: 200px;
          margin-left: 10px;
        }
        
        .report-ad{
  margin-top: 60px;
  height: 900px;
}


/*view-specific-car styles starts here*/




        


.specific-car{
  margin-top: 60px;
  height: 750px;
 
}
.car  img{
  
    max-width: 100%;
    height: auto;
  
}

.product--title {
  color: purple;
  font-weight: bold;
  font-size: 1.5em;
  font-family: serif;
  padding: 20px 0;
  text-align: center;
  
}

.product--title h2{
  display: inline-block;
    border-bottom: 2px dashed;
}
.product--image, .product--details {
  float: left;
  width: 45%;
}
.product--image {
  padding-right: 3%;
  
}
.product--image .icon-images  img{
  height: 80px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid purple;
}

.product--price .product--price_price {
    color: purple;
    font-size: 1.2em;
    padding-right: 10px;
  
}

.product--price .product--price_offer{
  color: purple;
  border: 1px solid darken(indianred, 20%);
  border-radius: 5px 5px;
  padding: 1px 3px;
  font-size: .7em;
}

.product--desc {
  font-family: sans;
}
  .product--desc p {
    margin: 20px 0px;
  }


.product--size {
  margin: 20px 0;
}
  


.product--quantity 
  input {
    border: 0;
    outline: 0;
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 1px dashed;
    padding: 1px 3px;
    text-align: center;}
    .product--quantity::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  


.add-to-cart {
  margin: 10px 10px 10px 0;
}

.btn {
  background: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;}

  .btn .btn--cart {
    border: 1px solid indianred;
    border-radius: 4px;
    padding: 3px 30px 3px 5px;
    box-shadow: 0px 0px 3px 0px indianred;
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 1.5em;}

    .btn :after {
      content: "⇨";
      padding-left: 2px;
      position: absolute;
      right: 150%;
      transition: all .4s;
      color: #fff;
    }
    .btn :hover, .btn:focus {
      background: indianred;
      color: #fff;
      box-shadow: 0px 0px 4px 2px indianred;
      text-shadow: 2px 2px 3px #666;
      transition: all .4s;}
      .btn :after {
        right: 2%;
      }
    
  



/*view-all-ads styles start here*/
        .container-view-ads{
          margin-top: 60px;
          height: 1200px;
          width: 100%;
          background-color:white;
          display: inline-block;
        }
        .container-view-ads .view-ads{
          width: 80%;
          height: 1195px;
          background-color: #F2F2F2;
          position: relative;
          align-items: center;
          float: right;
          align-content: center;
        }
        
        
        .column {
          display:inline-block;
          width: 100%;
          text-align:left;
          padding:0;
          margin-right: 10%;
          border-right:2px solid #efefef;
          height: 99%;
          background-color: #F2F2F2;
          float: left;
        }
        .column h3{
          font-weight:100;
          white-space:nowrap;
          display:inline-block;
          display:-webkit-inline-box;
          display:-ms-inline-flexbox;
          display:flex;
          -webkit-box-align:center;
          -ms-flex-align:center;
           align-items:center;
           
        }
        .column li{
          list-style:none;
          margin:1rem 0;
          display:table;
          width: 100%;
          background-color: white;
          vertical-align:middle;
        }
        h3 svg{
          margin:0 .25rem;
          height:1.75rem;
          width:1.75rem;
          display: inline-block;
          vertical-align:middle;
        }
        .column li::after {
            clear: both;
            content: "";
            display: block;
        }
        li .img-i{
          border:1px solid #efefef;
          float:left;
         
          width:20rem;
          height:15rem;
          overflow:hidden;
          background-color: white;
        }
        .img-i a{
          width:100%;
          height:100%;
          display:table-cell;
          vertical-align:middle;
          text-align:center;
          
        }
        .img-i img{
         vertical-align:middle;
         max-height: 100%;
         max-width: 100%;
         
         text-decoration: none;      
         border: 0;
         background-color: #e6b58f;
        }
        .desc-i{
          display:table-cell;
          vertical-align:middle;
        }
        .column title{
          text-align:left;
          white-space:nowrap;
          display:inline-block;
          display:-webkit-inline-box;
          display:-ms-inline-flexbox;
          display:flex;
          -webkit-box-align:center;
          -ms-flex-align:center;
           align-items:center;
        }
        .price .new-price,.price .old-price{
          display:inline-block;
        }
        .price{
          display:inline-block;
          font-family:Helvetica,Arial;
        }
        .price .new-price{
          padding:.25rem;
          border:1px solid green;
          color:green;
        }
        .price .old-price{
          color:red;
          margin-left:.5rem;
        }
        .react{
          display:inline-block;
        }
        .react svg{
          margin:.25rem .25rem 0 0;
          height:2.25rem;
          width: 2.25rem;
          padding:.375rem;
          display: inline-block;
          vertical-align:middle;
          border:1px solid #eee;
        }
        .title{
          font-size:.85em;
          color:#4183D7;
          display: block;
          /* Fallback for non-webkit */
          display: -webkit-box;
          /* Fallback for non-webkit */
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height:1rem;
          height:2rem;
        }
        .next-btn{
       
        background: #532380;
        color: #FFAF30;
        font-size:1.2rem;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 12px;
        margin-top: 50%;
        margin-left: 45%;
        position: center;
      }

      .mixitup .mix {
        display: none;
      }
      
      .result {
          background: #EEE none repeat scroll 0 0;
     
          clear: both;
          display: inline;
          float: left;
          margin-bottom: 40px;
          position: relative;
          width: 100%;
      }
      .search-filter{
        float: left;
        width: 20%;
      }

      
       
