
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

/*homepage styles starts here*/
.container {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
	height: 100px;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-height: 100%;
	min-width: 100%;
}

.header-overlay {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
	background: #595959;
	opacity: 0.5;
}

.header-content {
	z-index: 3;
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center
}

.head-content {
	z-index: 4;
	text-align: center;
}

.head-content h1 {
	z-index: 4;
	font-size: 50px;
	margin-bottom: 0;
	color: #F2D0AB;
	margin-top: 80px;
}

.head-content p {
	z-index: 4;
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	color: #F2D0AB;
	position: center;
	margin-left: 15%;
	margin-right: 15%;
}

.head-content .btn-cars {
	z-index: 3;
	background: #532380;
	color: #FFAF30;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
}


/* header */

.header {
	background-color: #532380;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	position: fixed;
	width: 100%;
	z-index: 5;
	opacity: 0.8;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #532380;
	opacity: 1
}

.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
	color: #FFAF30;
	font-size: 1em;
	font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
}

.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
	color: #FFAF30;
	font-weight: bold;
}


/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}
/* menu btn */

.header .menu-btn {
	display: none;
}
.header .menu-btn:checked~.menu {
	max-height: 240px;
}
.header .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}
.header .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}
.header .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
	.header li {
		float: left;
		z-index: 10;
	}
	.header li a {
		padding: 20px 30px;
		z-index: 11;
	}
	header ul {
		z-index: 5;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
		z-index: 10;
	}
	.header .menu-icon {
		display: none;
	}
}

.section {
	padding: 20px 0;
}

.section-a {
	background: #F6EFE7;
}

.section-a .brand-container-products {
	background: #F6EFE7;
	text-align: center;
	margin-left: 10rem;
	margin-right: 10rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

}
.section-b {
	background: #333;
	color: #fff;
}

@media(max-width:960px) {
	.container {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}


/*search bar*/

.search-container {
	width: 490px;
	display: block;
	margin: 0 auto;
}

input#search-bar {
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #d0cfce;
	outline: none;
}

input#search-bar:focus {
	border: 1px solid #008abf;
	transition: 0.35s ease;
	color: #008abf;
}

input#search-bar:focus::-webkit-input-placeholder {
	transition: opacity 0.45s ease;
	opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
	transition: opacity 0.45s ease;
	opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
	transition: opacity 0.45s ease;
	opacity: 0;
}

.search-icon {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	top: -45px;
	right: -5px;
}
/* styles for arrow down indicator*/
.scroll-arrow {
	position: absolute;
	top: 90%;
	left: 90%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.scroll-arrow span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	transform: rotate(45deg);
	margin: -10px;
}


/*footer styles starts here*/
.footer .main:after,
.label:after {
	content: "";
	display: inline-block;
  clear: both
  
}

.input {
	display: none
}

.input:checked~.list {
	display: block
}

.input:checked+.label .svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.list {
	margin: 0 0 0 24px;
	display: none;
	font-size: 14px;
	margin-bottom: 16px;
	list-style: none
}

@media (min-width:504px) {
	.list {
		display: inline-block!important;
		margin: 0
	}
}

.list>li {
	margin-left: 24px;
	line-height: 1.25;
	color: #333;
	padding: 0
}

.list>li+li {
	margin-top: 8px
}

.label {
	color: #fff;
	font-weight: 400;
	padding: 0 0 16px;
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	min-height: 42px
}

.label svg {
	float: right;
	fill: #fff;
	width: 16px;
	height: 16px
}

@media (min-width:504px) {
	.label svg {
		display: none
	}
}

.label>* {
	cursor: pointer
}

._34Lkm {
	display: inline-block;
	width: 100%
}

._270kB {
	text-align: center;
	width: 50%
}

@media (min-width:504px) {
	._270kB {
		display: none
	}
}

.footer {
	background-color: #532380;
	bottom: 0;
		
}

.footer .main {
	padding: 32px 16px 0;
	max-width: 1170px;
	margin: 0 auto;
	color: white;
}

@media (min-width:1194px) {
	.footer .main {
		padding: 32px 0 0
	}
}

@media (min-width:1024px) {
	@supports (display: flex) {
		.footer .main {
			display:-ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between
		}
	}
}

.footer .submain {
	border-bottom: 1px solid hsla(0, 0%, 100%, .7)
}

@media (min-width:504px) {
	.footer .submain {
		width: 30%;
		float: left;
		border: 0
	}
}

@media (min-width:768px) {
	.footer .submain {
		width: 20%
	}
}

@media (min-width:1024px) {
	.footer .submain {
		width: 20%
	}
	@supports (display:flex) {
		.footer .submain {
			float: none
		}
	}
}

.footer .submain li {
	margin-left: 0;
	padding: 0
}

.footer .submain li+li {
	margin-top: 8px
}

.footer .submain a {
	color: hsla(0, 0%, 100%, .7);
	font-weight: 400
}

.footer .submain a:hover {
	color: #fff
}

.footer .submain+.submain {
	margin-top: 16px
}

@media (min-width:504px) {
	.footer .submain+.submain {
		margin: 0
	}
}

#products {
	width: 100%;
}

#products .container-products {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-size: 0;
}

#products .container-products .products-header {
	font-size: 16px;
	text-align: center;
	margin-bottom: -5rem;
}

#products .container-products .products-header h2 {
	padding: 2rem 1rem;
	text-transform: uppercase;
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1;
	text-align: center;
}

#products .container-products .product {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 1rem;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#products .container-products .product:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.8;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
	cursor: pointer;
}

#products .container-products .product figure img {
	width: 100%;
	height: auto;
}

#products .container-products .product figure figcaption {
	font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}
.viewads-text{
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	#products .container-products .product {
		width: 50%;
		padding: 3rem;
	}
}

@media only screen and (max-width: 768px) {
	#products .container-products .product {
		width: 50%;
		padding: 2rem;
	}
}

@media only screen and (max-width: 480px) {
	#products .container-products .product {
		width: 100%;
	}
}

#products .container-products p.button {
	background-color: #e6b58f;
	-webkit-box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	width: 45%;
	text-align: center;
	padding: 0.8rem 0.2rem;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.7rem;
	width: 60%;
	padding: 0.8rem 2rem;
	margin-bottom: 2%;
	margin-left: 22%;
	font-weight: 600;
	letter-spacing: 0.1rem;
	
}

#products .container-products p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #ff981f;
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}


/*  purchase-car.html styles starts here*/

.purchase-car {
	height: 100%;
}

.purchase-car h2 {
	text-align: left;
}

.purchase-car .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 2%;
	margin-left: 8rem;
	margin-top: 5%;
	
	
}

.ad-description{
	margin-left: 10%;
}

.col-25 {
	-ms-flex: 25%;
	/* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%;
	/* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%;
	/* IE10 */
	flex: 75%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.container-purchase {
	background-color: #cfcccc85;
	padding: 3px 18px 13px 18px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.butn {
	background-color: purple;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.butn:hover {
	background-color: #45a049;
}

a {
	color: #2196F3;
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}


/*report-ad.html styles starts here*/

.ss-form-container {
	border-color: #FFAF30;
	/*background-color: white;*/
	margin-top: 100px;
	background-color: white;
	width: 55%;
	margin-left: 5%;
	border: 2px, #FFAF30;
}

.ss-form-container {
	background: #F2F2F2;
}

.ss-form-heading h1 {
	color: #FFAF30;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ss-form-title {
	text-align: left;
	background-color: #532380;
	color: #FFAF30;
}

.ss-form-desc {
	text-align: left;
}

.ss-form-desc {
	font-family: "Roboto";
	color: rgb(140, 140, 140);
	font-weight: 400;
	font-size: 1.080rem;
	font-style: normal;
	margin-left: 10px;
}

.ss-q-title {
	font-family: "Roboto";
	color: rgb(80, 80, 80);
	font-weight: 700;
	font-size: 1.080rem;
	font-style: normal;
	margin-left: 10px;
	margin-top: 5px;
}

.ss-embeddable-object-container .ss-q-title {
	font-family: "Roboto";
	color: rgb(80, 80, 80);
	font-weight: 700;
	font-size: 1.845rem;
	font-style: normal;
}

input[type='text'],
input:not([type]) {
	font-size: 1.000rem;
	width: 80%;
	height: 30px;
	margin-left: 10px;
}

textarea {
	font-size: 1.000rem;
	width: 80%;
	height: 200px;
	margin-left: 10px;
}

.report-ad {
	height: 1100px;
}


/*car-details.html styles starts here*/

.specific-car {
	height: 750px;
}
.specificAdOptions{
	margin-top: 10rem;
}

.specificAdOptions .adOptions{
	
	background-color: purple;
	color: pink;
	margin: auto;

}

.down {
	height: 60px;
}

.car img {
	max-width: 100%;
	height: auto;
}

.product--title {
	color: purple;
	font-weight: bold;
	font-size: 1.5em;
	font-family: serif;
	padding: 20px 0;
	text-align: center;
}

.product--title h2 {
	display: inline-block;
	border-bottom: 2px dashed;
}

.product--image,
.product--details {
	float: left;
	width: 45%;
}

.product--image {
	padding-right: 3%;
}

.details h3 {
	font-size: 40px;
	text-transform: uppercase;
}

.product--image .icon-images img {
	height: 80px;
	margin: 0 10px;
	cursor: pointer;
	border: 1px solid purple;
}

.product--price .product--price_price {
	color: purple;
	font-size: 1.2em;
	padding-right: 10px;
}

.product--price .product--price_offer {
	color: purple;
	border: 1px solid darken(indianred, 20%);
	border-radius: 5px 5px;
	padding: 1px 3px;
	font-size: .7em;
}

.product--desc {
	font-family: sans;
}

.product--desc p {
	margin: 20px 0px;
}

.product--size {
	margin: 20px 0;
}

.product--quantity input {
	border: 0;
	outline: 0;
	border-left: 1px dotted;
	border-right: 1px dotted;
	border-bottom: 1px dashed;
	padding: 1px 3px;
	text-align: center;
}

.product--quantity::-webkit-inner-spin-button,
 ::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.add-to-cart {
	margin-top: 15%;
	margin-bottom: 7%;
	display: block;

}

.btn-car {
	background-color: purple;
	color: pink;
	height: 2rem;
	width: 7rem;
	
}

.btn-car .btn--cart {
	border: 1px solid indianred;
	border-radius: 4px;
	padding: 3px 30px 3px 5px;
	box-shadow: 0px 0px 3px 0px indianred;
	position: relative;
	overflow: hidden;
	text-align: left;
	font-size: 1.5em;
}

.btn-car :after {
	content: "⇨";
	padding-left: 2px;
	position: absolute;
	right: 150%;
	transition: all .4s;
	color: #fff;
}

.btn-car :hover,
.btn-car:focus {
	background: indianred;
	color: #fff;
	box-shadow: 0px 0px 4px 2px indianred;
	text-shadow: 2px 2px 3px #666;
	transition: all .4s;
}

.btn-car :after {
	right: 2%;
}


/*view-all-ads.html styles start here*/

.container-view-ads .view-ads .column .load{
    width: 90%;
    height:50%;
	position: fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
.container-view-ads {
	margin-top: 60px;
	height: 100%;
	width: 100%;
	background-color: white;
	display: inline-block;
}

.dow {
  height: 16px;
  background-color: #F6F8FA;
}
.container-view-ads .filter-search {
	width: 20%;
	height: 50%;
	background-color:  #F2F2F2;
	position: relative;
	margin-right: 2px;
	margin-left: 2px;
	align-items: center;
	float: left;
	align-content: center;
}
.container-view-ads .filter-search h3{
	background-color: #532380;
	color: white;
	height: 3rem;
	align-items: center;
}
.container-view-ads .view-ads {
	width: 75%;
	height: 100%;
	background-color:  #F2F2F2;
	position: relative;
	margin-right: 60px;
	align-items: center;
	float: right;
	align-content: center;
	
}

.container-view-ads .view-ads .column {
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 0;
	margin-left: 10px;
	margin-right: 20px;
	border-right: 2px solid #efefef;
	height: 100%;
	background-color:  #F2F2F2;
}

.column h3 {
	font-weight: 100;
	white-space: nowrap;
	display: inline-block;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.container-view-ads .view-ads .column li {
	list-style: none;
	margin: 1rem 0;
	display: inline-block;
	width: 100%;
	background-color: white;
	vertical-align: middle;
	position: relative;
}

.container-view-ads .view-ads .column li::after {
	clear: both;
	content: "";
	display: block;
	position: absolute;
}

.container-view-ads .view-ads li .img-i {
	border: 1px solid #efefef;
	float: left;
	width: 20rem;
	height: 15rem;
	overflow: hidden;
	background-color: white;
}

.container-view-ads .view-ads .img-i a {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.img-i img {
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	text-decoration: none;
	border: 0;
	background-color: #e6b58f;
}

.desc-i {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
  color: black;
  display: inline-block;
  width: 68%;
}

.desc-i .car-list {
	margin-top: 5%;
}

.desc-i .title{
  padding: 2px; 
  margin-top: 5px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  display: inline-block;
  width: 100%;

}

.car-state-label{
	margin: 3px;
	width: 3rem;
	background-color: #532380;
	color: white;
}

.view-btn a{
  background-color: #532380;
  color: #F2D0AB;
  width: 7em;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 15px;
  text-decoration: none;
  
}

.column title {
	text-align: left;
	white-space: nowrap;
	display: inline-block;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.price .new-price,
.price .old-price {
	display: inline-block;
  margin-left: 10px;
  margin: 5px;
}

.price {
	display: inline;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.price .new-price {
	padding: .25rem;
	border: 1px solid green;
	color: green;
}



.react {
	display: inline-block;
}

.react svg {
	margin: .25rem .25rem 0 0;
	height: 2.25rem;
	width: 2.25rem;
	padding: .375rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #eee;
}

.title {
	font-size: .85em;
	color: black;
	display: block;
	margin-left: 10px;
	/* Fallback for non-webkit */
	display: -webkit-box;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1rem;
	height: 2rem;
}

.mixitup .mix {
	display: none;
}

.result {
	background: #EEE none repeat scroll 0 0;
	clear: both;
	display: inline;
	float: left;
	margin-bottom: 40px;
	position: relative;
	width: 100%;
}

.search-filter {
	float: left;
	width: 20%;
}


/*post-ad.html styles starts here*/

.container1 {
	min-height: 400px;
	text-align: center;
	background: #ffffff;
}

.container1 .container-post_ad {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	min-height: 400px;
	text-align: center;
	border: #F2D0AB;
}

.container1.post_ad-wrapper {
	box-shadow: 0 0 20px 0 #0000;
	background-color: red;
}

.container1 .post_ad-wrapper>* {
	padding: 1em;
	color: black;
	border-width: 2px;
	border-color: #FFAF30;
}

.car-details {
	text-align: center;
	position: absolute;
	margin-top: 10%;
	color: black;
}

.details {
	background-color: #F0F0F0;
}

.details form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.down-sign {
	height: 400px;
}

.details form label {
	display: block;
}

.details form p {
	grid-column: 1/3;
}

.details form input,
.details form textarea {
	width: 90%;
	padding: 1em;
}

.submit-btn {
	background: #FFAF30;
	width: 20%;
	padding: 1em;
	text-transform: uppercase;
	margin-left: 40%;
}

.details form .submit-btn:hover,
.details form .submit-btn :focus {
	background: yellow;
	color: #0000;
	outline: 0;
	transition: background-color 2s ease-out;
}


/*Sign-in.html styles starts here*/

.form-signin {
	margin: auto;
	padding: 5px;
	max-width: 420px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: solid;
	border-radius: 10px;
	letter-spacing: 0.5px;
	color: #000000;
}

.form-signin h1 {
	text-align: center;
	margin: 20px 0 35px 0;
	color: #532380;
	text-shadow: 1px 3px rgba(255, 255, 255, 0.1);
}

.form-group-signin {
	margin: 2px 2px;
	max-width: 100%;
	min-height: 68px;
	margin: 10px 0 0 0;
	padding: 0 35px;
	border-radius: 10px;
	position: relative;
}

.form-group-signin input {
	width: 100%;
	box-sizing: border-box;
	height: 38px;
	padding: 0 12px;
	font-size: 17px;
	letter-spacing: 0.25px;
	border-radius: 20px;
	border: 1.5px solid #532380;
	background-color: #fff;
	color: #000000;
}

.form-group-signin input:active,
.form-group-signin input:focus {
	background-color: #0000;
	outline: none;
	box-shadow: 0 0 2px 0 #532380;
	border: 1.5px solid #0000;
	color: #000000;
}

.form-group-signin input::selection {
	background-color: #532380;
	color: #000000;
}

.form-group-signin label {
	pointer-events: none;
	position: absolute;
	margin: 0;
	padding: 0 2px;
	top: 9px;
	left: 47px;
	font-size: 16px;
	color: #532380;
	transition: all 0.12s ease;
}

.form-group-signin input:focus+label,
.form-group-signin input:not(:placeholder-shown)+label {
	transform: translateY(-27px);
	font-size: 14px;
	font-weight: bold;
	color: #532380;
}

.error {
	color: rgb(255, 102, 102);
	margin: 3px 0px 0px 12px;
	font-size: 12.5px;
	display: none;
	letter-spacing: 0px;
}

.form-signin input[type="submit"] {
	display: block;
	margin: 20px auto 10px;
	width: 110px;
	height: 45px;
	border-radius: 25px;
	font-size: 17px;
	border: none;
	text-transform: capitalize;
	background-color: #532380;
	color: black;
	cursor: auto;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

.form-signin input[type="submit"]:hover,
.form-signin input[type="submit"]:focus {
	background-color: #2991CF;
	box-shadow: 0 0 2px 0px #532380;
}

.form-bottom {
	text-align: center;
	margin: 15px 0;
	font-size: 12px;
	letter-spacing: 0.75px;
}

.form-bottom a {
	text-decoration: none;
	color: #532380;
}

.form-bottom a:hover,
.form-bottom a:focus {
	color: #2991CF;
	outline: none;
}


/*Sign-up.html styles starts here*/

.form {
	margin: auto;
	padding: 5px;
	max-width: 420px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: solid;
	border-radius: 10px;
	letter-spacing: 0.5px;
	color: #000000;
}

.form h1 {
	text-align: center;
	margin: 20px 0 35px 0;
	color: #532380;
	text-shadow: 1px 3px rgba(255, 255, 255, 0.1);
}

.form-group {
	margin: 2px 2px;
	max-width: 100%;
	min-height: 68px;
	margin: 10px 0 0 0;
	padding: 0 35px;
	border-radius: 10px;
	position: relative;
}

.form-group input {
	width: 100%;
	box-sizing: border-box;
	height: 38px;
	padding: 0 12px;
	font-size: 17px;
	letter-spacing: 0.25px;
	border-radius: 20px;
	border: 1.5px solid #532380;
	background-color: #fff;
	color: #000000;
}

.form-group input:active,
.form-group input:focus {
	background-color: #0000;
	outline: none;
	box-shadow: 0 0 2px 0 #532380;
	border: 1.5px solid #0000;
	color: #000000;
}

.form-group input::selection {
	background-color: #532380;
	color: #000000;
}

.form-group label {
	pointer-events: none;
	position: absolute;
	margin: 0;
	padding: 0 2px;
	top: 9px;
	left: 47px;
	font-size: 16px;
	color: #532380;
	transition: all 0.12s ease;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
	transform: translateY(-27px);
	font-size: 14px;
	font-weight: bold;
	color: #532380;
}

.error {
	color: rgb(255, 102, 102);
	margin: 3px 0px 0px 12px;
	font-size: 12.5px;
	display: none;
	letter-spacing: 0px;
}

.form input[type="submit"] {
	display: block;
	margin: 20px auto 10px;
	width: 110px;
	height: 45px;
	border-radius: 25px;
	font-size: 17px;
	border: none;
	text-transform: capitalize;
	background-color: #532380;
	color: black;
	cursor: auto;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:focus {
	background-color: #2991CF;
	box-shadow: 0 0 2px 0px #532380;
}

.form-bottom {
	text-align: center;
	margin: 15px 0;
	font-size: 12px;
	letter-spacing: 0.75px;
}

.form-bottom a {
	text-decoration: none;
	color: #532380;
}

.form-bottom a:hover,
.form-bottom a:focus {
	color: #2991CF;
	outline: none;
}
